@using DataRepository
@model List<MainHeading>
@{
    ViewBag.Title = "Boxer";
}
<div class="quotation_div">
    <div class="overlay">

        <p>Boxer</p>
        @foreach (MainHeading item in Model)
        {
            <p>@item.Heading</p>
        }
    </div>
</div>               

<footer id="footer">
    <p>&copy; @DateTime.Now.Year - Boxer - grown men, doing stupid things, expensively!</p>
</footer>



