<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ImageStorage.Properties.Settings.BlobStorageConnectionString"
            connectionString="DefaultEndpointsProtocol=https;AccountName=boxerimages;AccountKey=W5qV6U9jaOMtcDLWcoUZE/GNy30RlHLmntEJZ9cS+bdRL5FekQvAUyCg6DYzPfHoCDgVsRvGpuJTtvqsOJy4tQ==;BlobEndpoint=https://boxerimages.blob.core.windows.net/;TableEndpoint=https://boxerimages.table.core.windows.net/;QueueEndpoint=https://boxerimages.queue.core.windows.net/;FileEndpoint=https://boxerimages.file.core.windows.net/" />
    </connectionStrings>
    <applicationSettings>
        <ImageStorage.Properties.Settings>
            <setting name="ImagesContainer" serializeAs="String">
                <value>boxerimages</value>
            </setting>
            <setting name="BlobContainer" serializeAs="String">
                <value>imageblobs</value>
            </setting>
            <setting name="ImageRootPath" serializeAs="String">
                <value>https://boxerimages.blob.core.windows.net/boxerimages
	
</value>
            </setting>
        </ImageStorage.Properties.Settings>
    </applicationSettings>
</configuration>