<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://boxer01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>boxer01.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>boxer01</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$boxer01</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=codeflagz.database.windows.net;Initial Catalog=boxerdb;Persist Security Info=True;User ID=codeflagz;Password=Basilcat2528" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="bw01.Models.ApplicationDbContext, bw01" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataRepository.Models.BW_Model" Order="2" Enabled="False">
          <Destination Path="Data Source=codeflagz.database.windows.net;Initial Catalog=boxerdb;Persist Security Info=True;User ID=codeflagz;Password=Basilcat2528" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataRepository.Models.BW_Model, DataRepository" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataRepository.Models.boxerdbEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=codeflagz.database.windows.net;Initial Catalog=boxerdb;Persist Security Info=True;User ID=codeflagz;Password=Basilcat2528" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataRepository.Models.boxerdbEntities, DataRepository" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataRepository.Models.boxerdbEntities-Web.config Connection String">
      <ParameterValue>Data Source=codeflagz.database.windows.net;Initial Catalog=boxerdb;Persist Security Info=True;User ID=codeflagz;Password=Basilcat2528</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataRepository.Models.BW_Model-Web.config Connection String">
      <ParameterValue>Data Source=codeflagz.database.windows.net;Initial Catalog=boxerdb;Persist Security Info=True;User ID=codeflagz;Password=Basilcat2528</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=codeflagz.database.windows.net;Initial Catalog=boxerdb;Persist Security Info=True;User ID=codeflagz;Password=Basilcat2528</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataRepository.Models.boxerdbEntities" />
    <_ConnectionStringsToInsert Include="DataRepository.Models.BW_Model" />
  </ItemGroup>
</Project>